doctype html
html
    head
        title= 'Share your emotions with us!'
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/site.css')
        link(rel='stylesheet', href='/bootstrap-3.3.6-dist/css/bootstrap.min.css')
        script(src='/javascripts/jquery-3.0.0.min.js')
        script(src='/javascripts/jwplayer.js')

    body
        block content
