body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.buttonsRow{
    padding-bottom: 3%;
    text-align: center;
}

.contentRow{
    padding-top: 6%;
    padding-bottom: 6%;
}